---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About US">
    <p>
     Todo esto se trata acerca de mi vida como autismo, a pesar de tener mucha agresividad
     en mi interior y falta de empatia. Yo nací el 8 de Octubre del 2002 en otra ciudad y en
     otro país: Toulouse, Francia. Mis padres vinoeron aqui para estudiar acerca del idioma
     francés pero ellos son mexicanos.
    </p>

    <p>
     Dos años despues de mi nacimiento, fuimos a Merida, y ahí conocí a mi amiga de infancia
     Andrea, pero al comienzo ella fue muy egoista conmigo. Por otro lado, yo veía películas
     que hablaban en frances y otras en español latino y me encantaba verlas, sobre ctodo cuando mi madre
     le gustaba verlas conmigo. La razón de que nos fuimos a Merida es que mi padre consiguio trabajo all.
     Mi padre ha estudiado Ingeniería Quimica y mi madre Ingeniería en Sistemas Computacionales.
    </p>

    <p>
      Despues, mi padre consiguio otro trabajo alla en la Ciudad de México (anteriormente D.F), y por
      eso nos mudamos aquí Celaya, pero me gustaba esa ciudad, aunque echaba de menos un poco a Merida,
      aquí entre a la escuela primaria Xochipilli y me hice amigo de Abraham, luego estudie en el Instituto
      Magno y ahí me hice amigo de mi sombra Diana y ahí las cosas se pusieron mejor.
    </p>

    <p>
      En cuanto yo, mi vida como autista es normal, pero mis padres creen que estoy loco
      y no pueden leer mis pensamientos, prero puedo expresarle mis sentimientos, con Anita
      a veces no le entiendo las instrucciones y por eso yo me quedo irritado y a veces la golpeo a
      pesar de que ella es la persona más confusa de mi familia, pero la mayoria de los diás como autistas
      todo va bien, y ahorita voy yendo a terapias.
    </p>
  </Page>
</Base>
